{% extends "base.html" %}

{% block meta %}
<title>Восстановление пароля/title>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-7 map">
        <div id="map_canvas"></div>
        <div class="v_line"></div>
        <div class="h_line"></div>
    </div>
    <div class="col-md-5 main_content">
        <h1 class="header"><span>Введите новый пароль</span></h1>
        <form method="post" action=".">
            {% csrf_token %}
            {% for field in form %}
            <p>
                <label for="{{ field.auto_id }}">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}<span class="formerror">{{ field.errors|striptags }}</span>{% endif %}
            </p>
            {% endfor %}
            <input type="submit" class="btn" value="Изменить мой пароль" />
        </form>
    </div>
</div>
{% endblock %}
