{% extends "base.html" %}

{% block meta %}
<title>Регистрация</title>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="content">
            <div class="registration clearfix">
                <form method="post" action="." id="account_form" class="account_form">
                    <fieldset>
                        <h1>Регистрация</h1>
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        {% for field in form %}
                            <div class="form-group">
                                <label for="{{ field.auto_id }}" class="control-label">{{ field.label }}</label>
                                <div class="control {% if field.errors %}control_field_error{% endif %}">
                                    {{ field }}
                                    {% if field.errors %}<span class="error">{{ field.errors|striptags }}</span>{% endif %}
                                </div>
                            </div>
                        {% endfor %}
                        <div class="control_buttons">
                            <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                        </div>
                        <!-- <input type="submit" value="Зарегистрироваться" class="btn" /> -->
                    </fieldset>
                </form>
            </div>
             <div class="message_for_users" style="margin-top:30px">
            {% if description_registration %}
                {% for message in description_registration %}
                    {{ message|safe }}
                {% endfor %}
            {% endif %}
        </div>
        </div>

        <div class="col-md-7 col-md-pull-5 map">
            <div id="map_canvas"></div>
            <div class="v_line"></div>
            <div class="h_line"></div>
        </div>
    </div>
{% endblock %}
