<!--MENU-->
{% load mptt_tags thumbnail%}
{% full_tree_for_model catalog.Category as category %}



<div class="container">
    <nav class="nav">
        <div class="width">
            <div>
                <table class="main_menu">
                    <tr>
                    {% for item in category %}
                        {% if item.is_root_node %}
                        <td>
                            <div class="item_container">
                                <a href="#"><i>{{ item.name }}</i></a>
                                <div class="popup_menu">
                                    <table class="popup_menu_table">
                                        <tbody>
                                            <tr>
                                                <td class="main_rubrics">
                                                    <ul class="ul">
                                                        {% for sub_item in item.get_children %}
                                                        <li id="subcategory_{{ sub_item.id }}" class="bold {% if forloop.counter == 1  %} selected {% endif %}">
                                                            <a href="#">
                                                                <table>
                                                                    <tbody>
                                                                    <tr>
                                                                        <td>{{ sub_item.name }} </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </a>
                                                            <!--<span class="arr"></span>-->
                                                            <!--<span class="arr2"></span>-->
                                                        </li>
                                                        {% endfor %}
                                                    </ul>
                                                </td>

                                                <td class="sub_rubric_container">
                                                    {% for sub_item in item.get_children %}
                                                    {% if sub_item.menu_type %}
                                                    <div class="sub_rubric_container_main subcategory_{{ sub_item.id  }}" style="display: block;">
                                                        <ul class="ul subrubric_list">
                                                        {% for sub_item_chld in sub_item.get_children %}
                                                            <li id="show_subcategory_{{ sub_item_chld.id  }}">
                                                                <div class="container">
                                                                    <div class="title">
                                                                        <a href="{{ sub_item_chld.get_absolute_url }}">{{ sub_item_chld.name }}</a>
                                                                    </div>
                                                                    <div class="img">
                                                                        <a href="{{ sub_item_chld.get_absolute_url }}">
                                                                            {% thumbnail sub_item_chld.image "100x100" crop="center" as im %}
                                                                            <img alt=""src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" style="opacity: 1;"/></a>
                                                                            {% endthumbnail %}
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        {% endfor %}
                                                        </ul>
                                                        <div class="clr"></div>
                                                    </div>


                                                    {% endif %}
                                                    {% endfor %}


                                                    {% for sub_item in item.get_children %}
                                                    {% if not sub_item.menu_type %}
                                                    <div class="sub_rubric_container_other sub_rubric_container_10 subcategory_{{ sub_item.id  }}" style="display: none;">
                                                        <ul class="ul subrubric_list">
                                                            {% for sub_item_chld in sub_item.get_children %}
                                                            <li class="double" id="{{ sub_item_chld.id  }}">
                                                                <div class="container">
                                                                    <div class="title">
                                                                        <a href="{{ sub_item_chld.get_absolute_url }}">{{ sub_item_chld.name }}</a>
                                                                    </div>
                                                                    <div class="img">
                                                                        <a href="{{ sub_item_chld.get_absolute_url }}">
                                                                            {% thumbnail sub_item_chld.image "100x100" crop="center" as im %}
                                                                            <img alt=""src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" style="opacity: 1;"/></a>
                                                                            {% endthumbnail %}
                                                                    </div>
                                                                    <div class="subcategories">
                                                                        <div class="subcategories_wrapper">
                                                                            <ul class="ul">
                                                                               {% for last_item in sub_item_chld.get_children %}
                                                                                <li class="bold">
                                                                                    <span class="icon">

                                                                                    </span>
                                                                                    <a href="{{ last_item.get_absolute_url }}" rel="https://f.ua/statik/images/icons/658.png">{{ last_item.name }}</a>
                                                                                </li>

                                                                                {% endfor %}
                                                                            </ul>
                                                                            <div class="opacity_bg"></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="clr"></div>
                                                                </div>
                                                            </li>
                                                            {% endfor %}
                                                        </ul>
                                                        <div class="clr"></div>

                                                    </div>
                                                    {% endif %}
                                                    {% endfor %}

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </td>
                        {% endif %}
                    {% endfor %}
                    </tr>
                </table>
            </div>
        </div>
    </nav>
</div>
    <!--MENU END-->