{% extends "base.html" %}
{% load staticfiles thumbnail %}
{% block title %}Корзина{% endblock %}
{% block content %}
<div id="content" class="site-content" tabindex="-1">
            	<div class="container">

            		<nav class="woocommerce-breadcrumb"><a href="{% url 'index' %}">Главная</a><span class="delimiter"><i class="fa fa-angle-right"></i></span>Корзина</nav>

            		<div id="primary" class="content-area">
            			<main id="main" class="site-main">
            				<article class="page type-page status-publish hentry">
            					<header class="entry-header"><h1 itemprop="name" class="entry-title">Корзина</h1></header><!-- .entry-header -->

            					<form>

                                    <table class="shop_table shop_table_responsive cart">
                                        <thead>
                                            <tr>
                                                <th class="product-remove">&nbsp;</th>
                                                <th class="product-thumbnail">&nbsp;</th>
                                                <th class="product-name">Товар</th>
                                                <th class="product-price">Цена</th>
                                                <th class="product-quantity">Количество</th>
                                                <th class="product-subtotal">Всего</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for x in cart.items.all %}
                                            <tr class="cart_item">

                                                <td class="product-remove">
                                                    <a class="remove" href="#">Г—</a>
                                                </td>

                                                <td class="product-thumbnail">
                                                    <a href="single-product.html"><img width="180" height="180" src="assets/images/products/2.jpg" alt=""></a>
                                                </td>

                                                <td data-title="Product" class="product-name">
                                                    <a href="single-product.html">{{ x.product.name }}</a>
                                                </td>

                                                <td data-title="Price" class="product-price">
                                                    <span class="amount">{{ x.product.price }}</span>
                                                </td>

                                                <td data-title="Quantity" class="product-quantity">
                                                    <div class="quantity buttons_added"><input type="button" class="minus" value="-">
                                                        <label>Quantity:</label>
                                                        <input type="number" size="4" class="input-text qty text" title="Qty" value="1" name="cart[92f54963fc39a9d87c2253186808ea61][qty]" max="29" min="0" step="1">
                                                        <input type="button" class="plus" value="+">
                                                    </div>
                                                </td>

                                                <td data-title="Total" class="product-subtotal">
                                                    <span class="amount">{{ x.total_price }}</span>
                                                </td>
                                            </tr>
                                            {% empty %}
                                            <b>Уважаемый покупатель! Ваша корзина пуста.<br />
                                            {% endfor %}

                                            <tr>
                                                <td class="actions" colspan="6">

                                                    <input type="submit" value="Update Cart" name="update_cart" class="button">

                                                    <div class="wc-proceed-to-checkout">

                                                        <a class="checkout-button button alt wc-forward" href="checkout.html">Proceed to Checkout</a>
                                                    </div>

                                                    <input type="hidden" value="1eafc42c5e" name="_wpnonce"><input type="hidden" value="/electro/cart/" name="_wp_http_referer">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </form>
            					<div class="cart-collaterals">

                                    <div class="cart_totals ">

                                        <h2>Cart Totals</h2>

                                        <table class="shop_table shop_table_responsive">

                                            <tbody>
                                                <tr class="cart-subtotal">
                                                    <th>Subtotal</th>
                                                    <td data-title="Subtotal"><span class="amount">{{ x.total_price }}</span></td>
                                                </tr>

                                                <tr class="order-total">
                                                    <th>Total</th>
                                                    <td data-title="Total"><strong><span class="amount">{{ x.total_price }}</span></strong> </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <div class="wc-proceed-to-checkout">

                                            <a class="checkout-button button alt wc-forward" href="checkout.html">Proceed to Checkout</a>
                                        </div>
                                    </div>
                                </div>
            				</article>
            			</main><!-- #main -->
            		</div><!-- #primary -->
            	</div><!-- .container -->
            </div><!-- #content -->
{% endblock content %}
