{% extends "base.html" %}
{% load staticfiles thumbnail %}
{% block title %}Мой кабинет{% endblock %}
{% block content %}
            <div id="content" class="site-content" tabindex="-1">
                <div class="container">

                    <nav class="woocommerce-breadcrumb" ><a href="{% url 'index' %}">Главная</a><span class="delimiter"><i class="fa fa-angle-right"></i></span>Мой кабинет</nav> {{ a }}<!-- .woocommerce-breadcrumb -->
                    {% if not user.is_authenticated %}
                    <div id="primary" class="content-area">
                        <main id="main" class="site-main">
                            <article id="post-8" class="hentry">

                                <div class="entry-content">
                                    <div class="woocommerce">
                                        <div class="customer-login-form">
                                            <span class="or-text">or</span>

                                            <div class="col2-set" id="customer_login">

                                                <div class="col-1">


                                                    <h2>Вход</h2>

                                                    <form method="post" action="{% url 'auth_login' %}" class="login">
                                                        {% csrf_token %}
                                                        <p class="before-login-text">Welcome back! Sign in to your account</p>

                                                        <p class="form-row form-row-wide">
                                                            <label for="username">Email<span class="required">*</span></label>
                                                            <input type="text" class="input-text" name="username" id="username" value="" />
                                                        </p>

                                                        <p class="form-row form-row-wide">
                                                            <label for="password">Пароль<span class="required">*</span></label>
                                                            <input class="input-text" type="password" name="password" id="password" />
                                                        </p>

                                                        <p class="form-row">
                                                            <input class="button" type="submit" value="Login" name="login">
                                                        </p>

                                                        <p class="lost_password"><a href="{% url 'auth_password_reset' %}">Забыли пароль?</a></p>

                                                    </form>


                                                </div><!-- .col-1 -->

                                                <div class="col-2">

                                                    <h2>Регистрация</h2>



                                                </div><!-- .col-2 -->

                                            </div><!-- .col2-set -->

                                        </div><!-- /.customer-login-form -->
                                    </div><!-- .woocommerce -->
                                </div><!-- .entry-content -->

                            </article><!-- #post-## -->

                        </main><!-- #main -->
                    </div><!-- #primary -->
                    {% else %}
                    <script>
  $(function() {

    $( "#datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: '1930:2020',
      dateFormat: 'dd-mm-yy',
    });

    $.datepicker.regional['ru'] = {
            closeText: 'Закрыть',
            prevText: '&#x3c;Пред',
            nextText: 'След&#x3e;',
            currentText: 'Сегодня',
            monthNames: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь',
            'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
            monthNamesShort: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь',
            'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
            dayNames: ['воскресенье', 'понедельник', 'вторник', 'среда', 'четверг', 'пятница', 'суббота'],
            dayNamesShort: ['вск', 'пнд', 'втр', 'срд', 'чтв', 'птн', 'сбт'],
            dayNamesMin: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
            weekHeader: 'Нед',
            dateFormat: 'dd.mm.yy',
            firstDay: 1,
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: ''
        };

    $.datepicker.setDefaults($.datepicker.regional['ru']);



  });
  </script>
                    <div class="personal_room center_wrap">
	<div class="title">
		Личный кабинет  <a href="{% url 'auth_logout' %}">Выйти</a>
	</div>
	<div class="personal_information">
		<form action="" method="post">
            {% csrf_token %}
			<label for="last_name">
				<span>Фамилия</span>
			<input type="text" name="last_name" value="{{ user.last_name }}" id="last_name"></label>
            <label for="first_name">
				<span>Имя</span>
			<input type="text" name="first_name" id="first_name" value="{{ user.first_name }}" data-validation="required" data-validation-error-msg="Введите Ваше имя" ></label>


			<label for="date_birth">
				<span>Дата рождения</span>
			<input type="text" name="date_birth" value="{{ user.date_of_birth|date:'d-m-Y' }}" id="datepicker" data-validation="required date" data-validation-error-msg="Заполните дату" data-validation-format="dd-mm-yyyy" ></label>
			<label for="country">
				<span>Страна</span>
			{{ form.country }}</label>
            <label for="region">
				<span>Регион</span>
			{{ form.region }}</label>
			<label for="city">
				<span>Город</span>
			{{ form.city }}</label>
            <label for="address">
				<span>Адресс</span>
			<input type="text" name="delivery" value="{{ request.user.client.delivery }}" id="address" data-validation="required" data-validation-error-msg="Введите Ваш адресс"></label>
			<label for="phone">
				<span>Телефон</span>
			<input type="text" name="phone" value="{{ user.phone_number }}" id="phone" data-validation="number" data-validation-error-msg="Телефонный номер должен содержать только цифры"></label>
            <label for="email">
				<span>Email</span>
			<input type="text" name="email" value="{{ user.email }}" id="email" data-validation="email" data-validation-error-msg="Введите корректный email"></label>
            <button type="submit">Сохранить</button>
		</form>
	</div>
	<div class="custom">
		<table>
		<thead>
			<tr>
				<th>Заказы</th>
				<th>№</th>
				<th>Дата</th>
				<th>Перечень товаров</th>
				<th>Доставка</th>
				<th>Статус</th>
				<th>Сумма</th>
			</tr>
		</thead>
		<tbody>
        {% for item in order %}
			<tr>
				<td>{{ item.id }}</td>
				<td>{{ forloop.counter }}</td>
				<td>{{ item.created }}</td>
				<td><ul>{% for x in item.items.all %}<li>- {{ x.name }}</li>{% endfor %}</ul></td>
				<td></td>
				<td>{{ item.get_status_display }}</td>
				<td>{{ item.total }}</td>
			</tr>
        {% empty %}
        Пока заказов нет!
		{% endfor %}
		</tbody>
		</table>

	</div>
	<div class="pass_change">
		<div class="pass_change_title">Смена пароля</div>

		<form action="{% url 'auth_password_change' %}" method="post">
            {% csrf_token %}
			<input type="password" name="old_password" id="current_pass" placeholder="Пароль" data-validation="required" data-validation-error-msg="Введите Ваш старый пароль">
			<input type="password" name="new_password1" id="new_pass" data-validation="strength" data-validation-strength="2" placeholder="Новый пароль">
			<input type="password" name="new_password2" id="repeat_pass" placeholder="Новый пароль повторно" data-validation="confirmation" data-validation-error-msg="Пароли не совпадают!!!">
			<input type="submit" value="Сменить пароль">

		</form>

		<div class="bottom">
			<a href="#"><span>Справка</span></a>
			<a href="#"><span>Отмена</span></a>
		</div>
	</div>
</div>

                    {% endif %}
                </div><!-- .col-full -->
            </div><!-- #content -->
{% endblock content %}


