{% extends "base.html" %}
{% load staticfiles thumbnail %}
{% block title %}Персональные данные{% endblock %}
{% block content %}
<div id="content" class="site-content" tabindex="-1">
    <div class="container">
        <form action="" method="post">
            {% csrf_token %}
				<span>Имя</span>
			    <input type="text" name="first_name" id="first_name" value="{{ user.first_name }}" data-validation="required" data-validation-error-msg="Введите Ваше имя" ></label>
                <label for="phone">
				<span>Телефон</span>
			    <input type="text" name="phone" value="{{ user.phone_number }}" id="phone" data-validation="number" data-validation-error-msg="Телефонный номер должен содержать только цифры"></label>
                <span>Email</span>
			    <input type="text" name="email" value="{{ user.email }}" id="email" data-validation="email" data-validation-error-msg="Введите корректный email"></label>

            <button type="submit" class="btn btn-primary">Обновить</button>
        </form>

                            <form>

                                    <table class="shop_table shop_table_responsive cart">
                                        <thead>
                                            <tr>
                                                <th class="product-remove">&nbsp;</th>
                                                <th class="product-thumbnail">&nbsp;</th>
                                                <th class="product-name">Товар</th>
                                                <th class="product-price">Цена</th>
                                                <th class="product-quantity">Количество</th>
                                                <th class="product-subtotal">Всего</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for x in cart.items.all %}
                                            <tr class="cart_item">

                                                <td class="product-remove">
                                                    <a class="remove" href="{% url 'cart_delete' x.pk %}">—</a>
                                                </td>

                                                <td class="product-thumbnail">

                                                    <a href="{{ x.product.get_absolute_url }}">
                                                       {% thumbnail x.product.image "180x180" crop="center" as im %}
                                                        <img width="180" height="180" src="{{ im.url }}" alt=""></a>
                                                    {% endthumbnail %}

                                                </td>

                                                <td data-title="Product" class="product-name">
                                                    <a href="{{ x.product.get_absolute_url }}">{{ x.product.name }}</a>
                                                </td>

                                                <td data-title="Price" class="product-price">
                                                    <span class="amount">{{ x.product.price }}</span>
                                                </td>

                                                <td class="product-quantity">
                                                    <div class="quantity buttons_added"><input type="button" class="minus" value="-">
                                                        <label>Количество:</label>
                                                        <input type="number" size="4" class="input-text qty text" title="Qty" value="1" name="Qty" max="29" min="0" step="1">
                                                        <input type="button" class="plus" value="+">
                                                    </div>
                                                </td>

                                                <td data-title="Total" class="product-subtotal">
                                                    <span class="amount">{{ x.total_price }}</span>
                                                </td>
                                            </tr>

                                            {% endfor %}

                                            <tr>
                                                <td class="actions" colspan="6">

                                                    <a href="{% url 'delivery_checkout' %}" class="button">Продолжить оформление</a>

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </form>
    </div>
</div>

{% endblock content %}
