{% extends "base.html" %}
{% load static thumbnail %}

{% block content %}
<td class="body">
    <div id="body">
        {% for x in object_list %}
        <div class="item_sqwer" onclick="location.href='{{ x.get_absolute_url }}'">
        {% thumbnail x.image "160x160" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"><br />
        {% endthumbnail %}
        <a href="{{ x.get_absolute_url }}">{{ x.name }}</a>
        </div>
        {% endfor %}
    </div>
    {% if object.description %}
        <div style="clear:both"></div>
        <h3 style="text-align: center;"></h3>
        <p style="text-align: justify;">{{ object.description }}</p>
    {% endif %}
    </div>
</td>
</tr>
{% endblock %}
